[Unit]
Description=collectd is a small daemon which collects system information periodically and provides mechanisms to monitor and store the values in a variety of ways.
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/collectd -C /etc/collectd/collectd.conf -P /var/run/collectd.pid -f

[Install]
WantedBy=multi-user.target
